*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}

header{
    width: 100%;
    height: 100px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: white;
     position: fixed;
    top: 0;
}

nav{
    padding: 30px 0px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
}
nav ul li{
    font-size: 13px;
    font-weight: 500;
}

nav .logo img{
    width: 140px;
}

nav ul li a:hover{
    color: #75BF7A; 
    transition: 0.3s ;
}


button{
    padding: 10px 20px;
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
}

button:hover{
    background-color: #75BF7A;
    color: black;
    transform: translateY(-3px);
    transition: 0.3s;
}

.nav-links button{
    background-color: #75BF7A;
}
.nav-links button:hover{
    background-color: #000000;
    color: white;
}

.hamburger{
    display: none;
}

main{
    background-color: #aeaeae1e;
}

/* Hero Section */


.hero{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}
.hero-content h1{
    font-size: 2.5rem;  
}
.hero-content p{
    font-size: 14px;
    color: #555555;
}

.hero-buttons{
    display: flex;
    gap: 20px;
}


.hero-image img{ 
    width: 300px;
}


/* apply-to-drive  */

.apply-to-drive{
    height: 100px;
    width: 80vw;
    margin: auto;
    background-color: #75BF7A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    color: white;
}
.apply-to-drive input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
    font-size: 14px; 
}

span{
    color: #75BF7A;
}

/* how-tere-works */
 .how-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
}
.how-top h2{
    font-size: 2rem;
    margin-bottom: 10px;
}
.how-top p{
    width: 300px;
    font-size: 14px;
    color: #555555;
    text-align: center;
}


.tere-info-img{
    width: 100px;
    height: 100px;
    background-image: url('images/how.png');
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



.tere-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
    width: 100%;
}

.tere-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}


.how-center-img img{
    height:500px;
}


/* tere-benefits  */



.tere-benefits-cont{
    
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    margin:40px auto;
}

.benefits-item{
    width: 250px;
    text-align: left;
}

.benefits-item p{
    font-size: 14px;
    color: #555555;
}

.benefits-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.benefits-info img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    object-fit: contain;
}

.benefits-img img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.tere-benefits {
    text-align: center;
    margin-bottom: 40px;
}

.tere-benefits-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

/* Footer  */


footer{
    width: 100%;
    height: 300px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    margin-top: 40px;
  
}

.footer-bottom{
    
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #75BF7A;
    font-size: 14px;
}

.footer-content{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    color: #555555;
}

.footer-content .logo img{
    width: 120px;
}   

/* ------------------- Responsive Design -------------------------- */

@media (max-width:768px) {
    
    nav ul{
        display: none;
    }
    .hamburger{
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
    .hero{
        flex-direction: column-reverse;
        text-align: center;
    }
    .hero-content{
        align-items: center;
        width: 80%;
    }
    .hero-content h1{
        font-size: 2rem;
    }
    .hero-content p{
        font-size: 16px;
    }

.apply-to-drive{
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 20px 0;
        margin-top: 40px;
    }
    .apply-to-drive input{
        width: 80%;
    }
    .apply-to-drive button{
        width: 80%;
    }
    
    .tere-content{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .item-1 {
        order: 2; /* Ye doosre number par aayega */
    }

    .item-2 {
        order: 1; /* Ye sabse upar (Top) par aayega */
    }

    .item-3 {
        order: 3; /* Ye last mein rahega */
    }

    .tere-benefits{
    width: 100%;
}

    .tere-benefits-cont{
        flex-direction: column-reverse;
        gap: 20px;
        width: 90%;
        
    }
.footer-content{
    flex-direction: column;
    height: auto;
    gap: 20px;
    padding-top: 30px;
}
}




/*-------------------------------------------------------------------  */








/* ------------------- -------------------------- --------------------------- */

@media (max-width:600px) {
    .hero-image img{
        width: 300px;
    }
    .hero-content h1{
        font-size: 1.4rem;
    }
    .hero-content p{
        font-size: 11px;
    }
.apply-to-drive{
    padding: 10px ;
}
}